$enable-deprecation-messages: false !default;

// Colors
$primary: #174B89;
$warning: #FFC50B;
$dark: #252525;
$body-tertiary-bg: #FAFAFA;
$pagination-disabled-bg: $body-tertiary-bg;

// Validation
$enable-validation-icons: false;
